@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,600;0,700;1,900&display=swap');
* {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
}
body{
	font-size: 1.5rem;
	font-family: 'Source Serif Pro', serif;

}
.cont{
	width: 90%;
	margin: 0 auto;

}
#navigation, #contacts{
	list-style-type: none;
}
#navigation li, #contacts li{
	display: inline-block;
	margin-right: 20px;
}
#navigation li:last-child, #contacts li:last-child{
	margin-right: 0;
}
nav{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
header{
	background-color: #91A5E7;
	padding: 8px 0;
}
#navigation li a,#contacts li a{
	color: #fff;
	text-decoration: none;
}
#navigation li a:hover, #contacts li a:hover {
	color:#000;

}
#navigation li a:active, #contacts li a:active{
	color: red;
}
#navigation li a::visited, #contacts li a::visited{
	color: #9B48DE;
}

#top .cont{ 
	display: flex;
	flex-direction: row;
	align-items: center;

 }
#mi{
	text-align: center;
	flex-grow: 1;
	margin-top: 50px;
	margin-bottom: 50px;

}

#mi h1, #mi p{
	text-align: center;
}
#mi h1 {
	font-weight: 900;
	font-size: 200%;
}
#mi img {
	display: inline-block;
	height: 260px;
	border-radius: 50%;
}
#top {
	background-image: url(../img/name228.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: white;
}
#team {
	background-color: #B0E0E6;

}
#team .cont {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;


}
#team .cont div {
	flex-grow: 0;
	flex-basis: 33%;
	flex-shrink: 1;
}
#team .cont  h2{
text-align: center;
font-weight: 700;
}
#team .cont img {
	display: block;
	margin: 0 auto;
	
}
footer .cont {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

footer .cont>div{
	background-color: #FF6347;
	margin: 4px;
	flex-grow: 1;
	flex-shrink: 0;
}
@media only screen and (min-width: 1200px) {
	footer .cont>div{
		flex-basis: 24%;
	}
}
@media only screen and (max-width: 1199px) {
	footer .cont>div{
		flex-basis: 32%;
	}
}

@media only screen and (max-width: 767px) {
	footer .cont>div{
		flex-basis: 48%;		
	}
}

@media only screen and (max-width: 575px) {
	footer .cont>div{
		flex-basis: 100%;	
	}
}
